*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.bg-1 {
    background: linear-gradient(-45deg,#3f51b1 0%,#5a55ae 13%, #7b5fac 25%, #8f6aae 35% , #ad6aa4 50%, #cc6b8e 62% , #f18271 75% , #f3a469 87% , #f7c978 100%);
    background-size: 400% 100%;
    animation: gradient 10s ease-in-out  infinite alternate ;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 50%;
    }

    100%{
        background-position:0%;
    }
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #f8f9f8;
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
}

.title-bg {
    background: radial-gradient(circle , #6f42c1 0% ,#41ddae 20% , #ee3089 40% , #6610f2 60% , #17a2b8 80% , #fc8728 100% );
    background-size: 1000% 1000%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientText 8s linear  infinite  alternate;
    font-size: 3.5rem;

}

@keyframes gradientText {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 50%;
    }

    100%{
        background-position:0%;
    }
}